<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt">
                <object class="duration-100 hover:scale-125" id="svg1" data="/img/celownik.svg" type="image/svg+xml"></object>
                <button class="duration-100 px-6 py-3 bg-tlgray-800 hover:opacity-80 relative block focus:outline-none">
                    <h1 class="text-slate-400 text-l hover:text-white"><a href="/kontakt/">{{ .title }}</a></h1>
                </button>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>